.btn-submit {
  @extend %button;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--txt-dark-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--time) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--second-accent-color);
  }
}

.btn-filter {
  @extend %button;

  padding: 6px 22px;
  background-color: var(--bg-gray-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--txt-title-color);

  transition: color var(--time) var(--timing-function), background-color var(--time) var(--timing-function), box-shadow var(--time) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--txt-dark-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn-close {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

.btn-close__icon {
  display: block;
  margin: auto;
  width: 18px;
  height: 18px;

  transform: scale(1);
  transition: fill var(--time) var(--timing-function), transform var(--time) var(--timing-function);

  .btn-close:hover &,
  .btn-close:focus & {
    fill: var(--accent-color);
    transform: scale(1.2);
  }
}
