.contact {
  @extend %list;

  display: flex;
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__link {
  @extend %link;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
