.logo {
  display: inline-block;

  font-family: var(--font-logo);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo__sec-part {
  color: var(--txt-title-color);

  &--dark-bg {
    color: var(--txt-dark-bg-color);
  }
}
