.page-nav {
  display: flex;
  align-items: center;
}

.page-nav__list {
  @extend %list;

  display: flex;
}

.page-nav__item:not(:last-child) {
  margin-right: 50px;
}

.page-nav__link {
  @extend %link;

  position: relative;
  padding-top: 32px;
  padding-bottom: 31px;
  color: $txt-title-color;

  &.current::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}
