.social {
  @extend %list;

  display: inline-flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  @extend %link;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;

  transition: background-color var(--time) var(--timing-function);

  &--dark-bg {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);

  transition: fill var(--time) var(--timing-function);

  &--dark-bg {
    fill: var(--txt-dark-bg-color);
  }

  .social__link:hover &,
  .social__link:focus & {
    fill: var(--txt-dark-bg-color);
  }
}
