.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-footer__block {
  flex-basis: calc((50% - 45px) / 2);

  &:last-child {
    flex-basis: calc(50% - 15px);
  }
}

.page-footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-dark-bg-color);
}

.page-footer__logo {
  margin-bottom: 20px;
}
