.page-header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-right: 93px;
}
