.page-hero {
  display: flex;
  align-items: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--bg-dark-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.page-hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-hero__title {
  @extend %title;

  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--txt-dark-bg-color);
}
