.team {
  background-color: var(--bg-gray-color);
}

.team__list {
  @extend %list;
}

.team__item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;

  width: 270px;
  background-color: var(--bg-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__desc {
  padding: 30px 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__member {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--txt-title-color);
}

.team__position {
  margin-bottom: 16px;
}
