.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  @extend %title;

  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
